{% load staticfiles %}
<html>
    <head>
        <title>Trabalho LES</title>

        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >


    </head>
    <body>

        <main>
        <div class="container" >
            <h1>Hello world!</h1>
        </div>
        </main>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    </body>

</html>