{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block content %}
<div id="content-main">
  <form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors|length > 0 %}
      <p class="errornote">
          "Please correct the errors below."
      </p>
      {{ form.non_field_errors }}
    {% endif %}
    <fieldset class="module aligned">
        <div id="codigo" class="form-row">
          {{form.as_p}}
        </div>

    </fieldset>
    <div class="submit-row">
      <input type="submit" class="default" id="salvar" name="salvar" value="Salvar">
    </div>
  </form>
</div>
{% endblock %}
